# ðŸ”´ Task 16

Topics: Combining and Merging Datasets, Reshaping Data

In [1]:
import numpy as np
import pandas as pd

In [2]:
#1st dataset
df1 = pd.DataFrame({
    'id': [1, 2, 3, 4, 5],
    'name': ['John', 'Emily', 'Michael', 'Amy', 'David'],
    'age': [25, 30, 27, 22, 35]
})

In [3]:
#2nd datasets
df2 = pd.DataFrame({
    'id': [1, 2, 3, 4, 5],
    'country': ['USA', 'Canada', 'Germany', 'France', 'Japan'],
    'salary': [50000, 60000, 55000, 45000, 70000]
})

In [4]:
#3rd dataset
df3 = pd.DataFrame({
    'id': [1, 2, 3, 4, 5],
    'gender': ['Male', 'Female', 'Male', 'Female', 'Male'],
    'occupation': ['Engineer', 'Doctor', 'Teacher', 'Designer', 'Programmer']
})

In [5]:
# Merge the datasets based on the 'id' column
merged_df = pd.merge(df1, df2, on='id')

# Print the merged dataset
print(merged_df)

   id     name  age  country  salary
0   1     John   25      USA   50000
1   2    Emily   30   Canada   60000
2   3  Michael   27  Germany   55000
3   4      Amy   22   France   45000
4   5    David   35    Japan   70000

In [6]:
df_revenue = pd.DataFrame({
    'date': ['2022-01-01', '2022-01-01', '2022-01-01', '2022-01-02', '2022-01-02', '2022-01-02', '2022-01-03', '2022-01-03', '2022-01-03'],
    'product': ['Product A', 'Product B', 'Product C', 'Product A', 'Product B', 'Product C', 'Product A', 'Product B', 'Product C'],
    'revenue': [10000, 15000, 20000, 8000, 12000, 18000, 11000, 13000, 19000]
})

In [7]:
# Reshape the dataset
reshaped_df = df_revenue.pivot(index='date', columns='product', values='revenue')

# Print the reshaped dataset
print(reshaped_df)

product     Product A  Product B  Product C
date
2022-01-01      10000      15000      20000
2022-01-02       8000      12000      18000
2022-01-03      11000      13000      19000

In [8]:
# Merge the datasets based on the 'id' column
merged_df = pd.merge(df1, df2, on='id')
merged_df = pd.merge(merged_df, df3, on='id')

# Print the merged dataset
print(merged_df)

   id     name  age  country  salary  gender  occupation
0   1     John   25      USA   50000    Male    Engineer
1   2    Emily   30   Canada   60000  Female      Doctor
2   3  Michael   27  Germany   55000    Male     Teacher
3   4      Amy   22   France   45000  Female    Designer
4   5    David   35    Japan   70000    Male  Programmer

In [9]:
# -------------------------------------END